@use "../../templates/colors";

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

    a {
        text-decoration: none;
        transition: ease-in .2s;

        &:hover {
            color: colors.$hover-color;

            :only-child() {
                color: colors.$hover-color;
            }
        }
    }

    .icons,
    .email_link {
        display: flex;
        align-items: center;
        gap: 20px;
        border: 1px solid colors.$text-color;
        border-radius: 20px;
        padding: 7px 20px;
    }

}

@media (max-width: 768px) {
    .header {
        .email_link {
            display: none;
            overflow: hidden;
        }
    }
}

@media (max-width: 426px) {
    .header {
        padding: 10px 0;
    }
}