@use "../../templates/colors";

@mixin pseudo-elements($left, $bottom) {
    content: "";
    position: absolute;
    width: 60%;
    left: $left;
    height: 2px;
    bottom: $bottom;
    border-radius: 100% 10% 10% 100% / 100% 10% 100% 10%;
    animation: color_switcher 2s infinite alternate;
}

.services_container {
    padding: 60px;

    .services_flex {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

        .service_card {
            border: 1px solid colors.$text-color;
            border-radius: 20px;
            padding: 20px;
            transition: ease-in .2s;
            background-color: colors.$primary-color;

            &_head {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 20px;

                h4 {
                    position: relative;
                    font-size: 1.2rem;
                    transition: ease-in .2s;

                    &::before {
                        @include pseudo-elements(5px, -3px);
                    }
                }
            }

            &:hover {
                border: 1px solid colors.$hover-color;
                transform: scale(1.02);
                transition: ease-in .2s;

                .service_card_head {

                    h4 {
                        color: colors.$hover-color;
                    }

                    &_icon {
                        color: red;
                    }

                }

            }
        }
    }
}

@keyframes color_switcher {
    0% {
        background: rgb(colors.$text-color, .5);
    }

    100% {
        background: colors.$text-color;
    }
}

@media(max-width: 768px) {
    .services_container {
        padding: 30px;

        .services_flex {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (max-width: 426px) {
    .services_container {
        padding: 20px 10px;

        .services_flex {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}