@use "../../templates/colors";

.tech_container {
    background-color: colors.$text-color;
    padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    overflow: auto;
    white-space: nowrap;
}