@use "../../templates/colors";

.tech_container {
    background-color: colors.$text-color;
    padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    overflow: auto;
    white-space: nowrap;
}

@media(max-width: 768px) {
    .tech_container {
        padding: 30px;
    }
}

@media (max-width: 426px) {
    .tech_container {
        padding: 20px 10px;
    }
}